@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Hepta+Slab:wght@1..900&display=swap');

/* Reset básico para remover margens, paddings e definir box-sizing */
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variáveis de cor e fontes definidas no escopo global */
:root {
    --fonte-principal: 'Alexandria', sans-serif;
    --fonte-destaque: 'Hepta Slab', serif;
    --preto: #0f0f0f;
    --branco: #d9d9d9;
    --borda-texto:
        -1px -1px 0 var(--preto),
        0 -1px 0 var(--preto),
        1px -1px 0 var(--preto),
        -1px 0 0 var(--preto),
        1px 0 0 var(--preto),
        -1px 1px 0 var(--preto),
        0 1px 0 var(--preto),
        1px 1px 0 var(--preto);

    --borda-texto-branco:
        -2px -2px 0 var(--branco),
        0 -2px 0 var(--branco),
        2px -2px 0 var(--branco),
        -2px 0 0 var(--branco),
        2px 0 0 var(--branco),
        -2px 2px 0 var(--branco),
        0 2px 0 var(--branco),
        2px 2px 0 var(--branco);

    --borda-texto-preto2:
        -2px -2px 0 var(--preto),
        0 -2px 0 var(--preto),
        2px -2px 0 var(--preto),
        -2px 0 0 var(--preto),
        2px 0 0 var(--preto),
        -2px 2px 0 var(--preto),
        0 2px 0 var(--preto),
        2px 2px 0 var(--preto);
}

.borda-texto{
    text-shadow: var(--borda-texto);
}

.borda-texto-branco{
    text-shadow: var(--borda-texto-branco);
}

.borda-texto-preto2{
    text-shadow: var(--borda-texto-preto2);
}

.body {
    background-color: var(--branco);
}

.intro{
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--preto);
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--fonte-destaque);
    color: var(--branco);
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* .loading-screen{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-loading{
    color: var(--preto);
    font-family: var(--fonte-principal);
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;
}

.loading{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .line-box{
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 2px solid var(--preto);
    border-radius: 20px;
}

.loading .line-box .line{
    height: 20px;
    border-radius: 20px;
    background: var(--preto);
    animation: loading 2s forwards cubic-bezier(0,0,0,0);
}

@keyframes Loading{
    0%{
        width: 0%;
    } 100% {
        width: 100%;
    }
} */

.header {
    position: fixed;
    top: 5%;
    right: 12%;
    background: var(--preto);
    border-radius: 50px;
    padding: 15px 40px;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.flag-icon { 
    position: fixed;
    top: 5%;
    left: 7%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 7px solid var(--preto);
    object-fit: cover;
    z-index: 1001;
    transition: opacity 0.3s ease;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.3s ease;
}

.header.scrolled {
    opacity: 0.2;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-family: var(--fonte-principal);
    font-weight: 200;
    font-size: 15px;
    color: var(--branco);
    padding-block: 16px;
    text-decoration: none;
}

.nav:hover {
    opacity: 1 !important;
}
.flag-icon:hover {
    opacity: 1 !important;
}
.header:hover {
    opacity: 1 !important;
}

.nav-list a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}

#home {
    scroll-margin-top: 200px; 
}

.titulo {
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
}

.titulo-nome {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 48px;
    line-height: 40px;
    font-weight: 900;
    padding-bottom: 27px;
}

.subtitulo {
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-weight: 900;
    font-size: 24px;
    padding-bottom: 17px;
}

.titulo-main {
    font-family: var(--fonte-destaque);
    font-weight: 900;
    font-size: 150px;
    line-height: 130px;
    color: var(--preto);
}

.subtitulo-main {
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 24px;
}

.titulo-icons {
    width: 129px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 100px;
}

.titulo-icons-img{
    transition: transform 0.2s ease-in-out;
}

.titulo-icons-img:hover{
    transform: scale(1.2);
}

.carrousel-divisory {
    width: 100%;
    overflow: hidden;
    background-color: var(--preto);
    height: 48px;
    display: flex;
    align-items: center;
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 300;
}

.carrousel {
    display: flex;
    white-space: nowrap;
    will-change: transform;
    animation: scroll-left 40s linear infinite;
    min-width: 200%;
}

.carrousel span {
    font-size: 24px;
    letter-spacing: 10px;
    display: inline-block;
}

@keyframes scroll-left {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}

.about{
    padding-top: 70px;
    display: flex;
}

.container {
    margin-left: 7%;
    width: 650px;
    height: 650px;
    position: relative;
}

.text {
    fill: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 900;
    font-size: 38px;
    transform-origin: 50% 50%;
    animation: rotate 25s linear infinite;
}

@keyframes rotate {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

.about-text{
    margin: 3% 10% 0% 10%;
}

.about-titulo{
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-size: 63px;
    font-weight: 900;
    line-height: 60px;
    padding-bottom: 50px;
}

.textblock{
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-weight: 200;
    font-size: 21px;
    padding-bottom: 18px;
}

.skills{
    margin-top: 7%;
    height: 850px;
    background-color: var(--preto);
}

.skills-title{
    padding-top: 8%;
    margin-left: 7%;
    font-family: var(--fonte-destaque);
    font-weight: 900;
    font-size: 72px;
    color: var(--preto);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    margin: 3% 7% 0% 7%;
}

.skills-container div {
    flex: 0 0 calc(20% - 48px);
    height: 200px;
    border-radius: 20px;
    border: 3px solid var(--branco);
    background-color: var(--preto);
}

.skills-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
    color: var(--branco);
    transition: 0.2s ease-in-out;
    position: relative;
}

.skills-container-content img {
    transition: filter 0.3s ease-in-out;
}

.skills-container-content img.original {
    display: block;
}

.skills-container-content img.new {
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.skills-container-content:hover img.original {
    display: none;
}

.skills-container-content:hover img.new {
    display: block;
}

.skills-container-content:hover {
    background-color: var(--branco);
    color: var(--preto);
    scale: 1.05;
}

.borda-decorativa {
    width: 100%;
    height: 10px;
    background-image: url(../assets/images/TRI_BORDER.svg);
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 260px 100%;

    animation: move-border 5s linear infinite;
}

@keyframes move-border {
    from { background-position-x: 0; }
    to { background-position-x: -260px; }
}

.top{
    margin-top: -5px;
    padding-bottom: 70px;
}

.bottom{
    margin-bottom: -5px;
    padding-bottom: 78px;
    transform: scaleY(-1);
}

.projects{
    padding-top: 110px;
    margin-left: 7%;
    margin-right: 7%;
}

.projects-title{
    display: flex;
    justify-content: center;
    font-family: var(--fonte-destaque);
    font-size: 96px;
    font-weight: 900;
    letter-spacing: 20px;
    color: var(--branco);
    padding-bottom: 120px;
}

.projects-area{
    font-family: var(--fonte-principal);
    font-weight: 300;
    color: var(--preto);
    font-size: 24px;
    padding-bottom: 50px;
}

.projects-dev{
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.projects-dev-demo{
    background-color: var(--preto);
    height: 580px;
    width: 600px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.projects-dev-demo:hover{
    transform: scale(1.02);
}

.projects-dev-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 500px;
}

.bt-link{
    height: 28px;
    transition: transform 0.1s ease-in-out;
}

.bt-link:hover{
    transform: scale(1.1);
}

.text-align {
    text-align: right;
}

.projects-dev-title{
    font-family: var(--fonte-destaque);
    color: var(--branco);
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 32px;
}

.projects-dev-subtitle{
    font-family: var(--fonte-principal);
    font-weight: 900;
    color: var(--preto);
    font-size: 36px;
    padding-bottom: 12px;
}

.projects-dev-demo,
.projects-dev-text {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.slide-out-left {
    opacity: 0;
    transform: translateX(-50px);
}

.slide-out-right {
    opacity: 0;
    transform: translateX(50px);
}

.projects-design{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.projects-draw{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.bt-seta{
    height: 60px;
    padding: 10px;
    transition: transform 0.1s ease-in-out;
}

.bt-seta:hover{
    transform: scale(1.1);
}

.bt-see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 0px;
    position: absolute;

    width: 40px;
    height: 120px;
    border-radius: 5px;
    background: var(--branco);
    text-decoration: none;
}

.bt-content {
    display: flex;
    align-items: center;
    gap: 5px;
    transform: rotate(-90deg);
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: calc(40px * 0.40);
    color: var(--preto);
    white-space: nowrap; /* impede quebra */
}

.bt-content img {
    height: 1em;
    width: auto;
}

.bt-see-more:hover{
    background: white;
}

.box{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    background-color: var(--preto);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.box:hover{
    transform: scale(1.02);
}

.grid-container{
    display: grid;
    grid-template-columns: 140px 140px 140px 140px 140px 140px 140px 140px;
    grid-template-rows: 140px 140px 140px 140px;
    gap: 10px;
    grid-template-areas:
    'box-1 box-1 box-2 box-2 box-2 box-2 box-3 box-3'
    'box-1 box-1 box-2 box-2 box-2 box-2 box-3 box-3'
    'box-4 box-4 box-5 box-5 box-6 box-6 box-7 box-7'
    'box-4 box-4 box-5 box-5 box-8 box-8 box-9 box-9';
    
}

.grid-container2{
    display: grid;
    grid-template-columns: 140px 140px 140px 140px 140px 140px 140px 140px;
    grid-template-rows: 140px 140px 140px 140px;
    gap: 10px;
    grid-template-areas:
    'box-1 box-1 box-2 box-2 box-3 box-3 box-4 box-4'
    'box-5 box-5 box-2 box-2 box-3 box-3 box-4 box-4'
    'box-5 box-5 box-6 box-6 box-3 box-3 box-8 box-8'
    'box-5 box-5 box-6 box-6 box-7 box-7 box-8 box-8';
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    border-radius: 10px;
    cursor: pointer;
}

.img-top{
    object-position: top;
}

.img-bot{
    object-position: bottom;
}

/* Lightbox escondido por padrão */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
}

.close, .prev, .next {
    position: absolute;
    color: white;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}

.close {
    top: 20px;
    right: 40px;
}

.prev, .next {
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    text-align: center;
}

.prev { left: 30px;}
.next { right: 30px; }

.contact{
    background-color: var(--preto);
}

.contact-content{
    padding-top: 7%;
    margin-left: 7%;
    margin-right: 7%;
}

.contact-title{
    display: flex;
    font-family: var(--fonte-destaque);
    font-size: 96px;
    font-weight: 900;
    color: var(--preto);
    padding-bottom: 10px;
}

.textblock-alt{
    font-family: var(--fonte-principal);
    font-weight: 200;
    color: var(--branco);
    font-size: 24px;
    opacity: 0.5;
    padding-bottom: 38px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 530px;
    padding-bottom: 70px;
}

.contact-form input,
.contact-form textarea {
    background: transparent;
    border: 2px solid var(--branco);
    color: var(--branco);
    padding: 10px;
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 170px;
}

.form-buttons {
    display: flex;
    gap: 15px;
}

.form-buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--branco);
    border: none;
    padding: 10px;
    font-family: var(--fonte-principal);
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-buttons button:hover {
    background: white;
}

.flex{
    width: 200px;
}

/* Rodapé */
.rodape {
    background-color: var(--preto);
    text-align: center;
    padding: 1.5%;
    position: relative;
    bottom: 0;
    width: 100%;
}

.rodape_texto {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 200;
    font-size: 18px;
    margin: 0;
    opacity: 0.5;
}