@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Hepta+Slab:wght@1..900&display=swap');

/* Reset básico para remover margens, paddings e definir box-sizing */
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variáveis de cor e fontes definidas no escopo global */
:root {
    --fonte-principal: 'Alexandria', sans-serif;
    --fonte-destaque: 'Hepta Slab', serif;
    --preto: #0f0f0f;
    --branco: #d9d9d9;
    --borda-texto:
        -1px -1px 0 var(--preto),
        0 -1px 0 var(--preto),
        1px -1px 0 var(--preto),
        -1px 0 0 var(--preto),
        1px 0 0 var(--preto),
        -1px 1px 0 var(--preto),
        0 1px 0 var(--preto),
        1px 1px 0 var(--preto);

    --borda-texto-branco:
        -2px -2px 0 var(--branco),
        0 -2px 0 var(--branco),
        2px -2px 0 var(--branco),
        -2px 0 0 var(--branco),
        2px 0 0 var(--branco),
        -2px 2px 0 var(--branco),
        0 2px 0 var(--branco),
        2px 2px 0 var(--branco);
}

.body {
    background-color: var(--branco);
}

.header {
    position: fixed;
    top: 5%;
    right: 7%;

    background: var(--preto);
    border-radius: 50px;
    padding: 15px 40px;

    z-index: 1000;
}

/* Depois colocar hover de opacidade! */
.flag-icon { 
    position: fixed;
    top: 5%;
    left: 7%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 7px solid black;
    object-fit: cover;
    z-index: 1001;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-family: var(--fonte-principal);
    font-weight: 200;
    font-size: 15px;
    color: var(--branco);
    padding-block: 16px;
    text-decoration: none;
}

.main {
    margin-top: 13%;
}

.titulo {
    display: flex;
    flex-direction: column;
    padding-left: 7%;
}

.titulo-nome {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 48px;
    line-height: 40px;
    font-weight: 900;
    text-shadow: var(--borda-texto);
    padding-bottom: 27px;
}

.subtitulo {
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-weight: 900;
    font-size: 24px;
    padding-bottom: 17px;
}

.titulo-main {
    font-family: var(--fonte-destaque);
    font-weight: 900;
    font-size: 150px;
    line-height: 130px;

    color: var(--preto);
}

.subtitulo-main {
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 24px;
}

.titulo-icons {
    width: 129px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 100px;
}

.carrousel-divisory{
    background-color: var(--preto);
    height: 48px;
}

.about{
    padding-top: 150px;
    display: flex;
}

.container {
    margin-left: 7%;
    width: 650px;
    height: 650px;
    position: relative;
}

.text {
  fill: var(--branco);
  font-family: var(--fonte-principal);
  font-weight: 900;
  font-size: 40px;
  text-shadow: var(--borda-texto);
  transform-origin: 50% 50%;
  animation: rotate 25s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.about-text{
    margin: 3% 10% 0% 10%;
}

.about-titulo{
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-size: 63px;
    font-weight: 900;
    line-height: 60px;
    padding-bottom: 50px;
}

.textblock{
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-weight: 200;
    font-size: 21px;
}

.skills{
    margin-top: 7%;
    height: 850px;
    background-color: var(--preto);
}

.skills-title{
    padding-top: 8%;
    margin-left:7%;
    font-family: var(--fonte-destaque);
    font-weight: 900;
    font-size: 72px;
    color: var(--preto);
    text-shadow: var(--borda-texto-branco);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    margin: 3% 7% 0% 7%;
    border: 1px dashed red;
}

.skills-container div {
    flex: 0 0 calc(20% - 48px); /* 20% da largura, subtraindo o gap */
    height: 200px;
    border-radius: 20px;
    border: 3px solid var(--branco);
    background-color: var(--preto);

}

.skills-container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skills-name{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
    color: var(--branco);
}

.borda-decorativa {
    margin-top: -5px;
    width: 100%;
    height: 10px;
    background-image: url(../assets/images/TRI_BORDER.svg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 260px 100%;
    padding-bottom: 70px;
}


/* Rodapé */
.rodape {
    text-align: center;
    padding: 0.75%;
    position: relative;
    bottom: 0;
    width: 100%;
}

.rodape_texto {
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}